*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;

}
.header_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navbar-title{
    font-weight: 700;
    font-size: 28px;
    color: black;
}
.header_navbar-list{
    font-weight: 400;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.header_navbar a{
    color: gray;
    text-decoration: none;
}

.header_navbar-list-link:not(:last-child)::after{
    content: '|';
    color: gray;
    padding-left: 10px;
}
.main_title{
    margin-top: 40px;
    padding: 0 0 0 90px;

}
.main_content1-text-title{
margin-top: 30px;
}

.main_content1{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 90px;

}

.main_image1-projet1{
    width: 400px;
    height: 350px;
}
.main_content1-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    height: 306px;
    line-height: 30px;
}
.main_content2-text-title{
    margin-top: 30px;
}
.main_content2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 0 0 90px;
}
.main_image2-projet2{
    width: 400px;
    height: 350px;
    
}
.main_content2-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 306px;
    line-height: 30px;
}
.main_content3-text-title{
    margin-top: 30px;
}
.main_content3{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 90px;
}
.main_image3-projet3{
    width: 400px;
    height: 370px;
    
}
.main_content3-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 306px;
    line-height: 30px;
}
body img{
    margin-bottom: 50px;
}

.footer{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    
}

.footer div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    
}

span{
    color: gray;
    font-size: 10px;
}
.fab{
    color: black;
    font-size: 15px;
}
.footer_network-link{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    margin-top: -4px;
}
.main_image_title1{
    display: none;
}
.main_image_title2{
    display: none;
}
.main_image_title3{
    display: none;
}
@media screen and (max-width : 480px){
   
    .main_content1-text-Shifted{
        padding-right: 9.6px;
    }
    .main_content2-text-Hostim{
        padding-right: 9.6px;
    }
    .main_content3-text-interio{
        padding-right: 9.6px;
    }

    .main_image_title1{
        display: block;
        margin-bottom: 20px;
    }
    .main_image_title2{
        display: block;
        margin-bottom: 20px;
    }
    .main_image_title3{
        display: block;
        margin-bottom: 20px;
    }
    .main_content1-text-title{
        display: none;
    }
    .main_content2-text-title{
        display: none;
    }
    .main_content3-text-title{
        display: none;
    }
    .header_navbar{
        flex-direction: column;
        gap: 25px;
    }
    .main{
        flex-direction: column;
        margin-top: 15%;
        padding: 0 2px;
       
    }
    .main_title{
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 50px;
    }

    .main_content1{
        flex-direction: column;
        padding: 5px 1px;
    }
    .main_image1{
     order: 1;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .main_image2{
     order: 1;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .main_image3{
     order: 1;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .main_content1-text{
       order: 2;
    }

    .main_content2{
        flex-direction: column;
        padding: 5px 1px;
    }
    .main_image2{
        order: 1;
       }
       .main_content2-text{
          order: 2;
       }
    .main_content3{
        flex-direction: column;
        padding: 5px 1px;
    }
    .main_image3{
        order: 1;
       }
       .main_content3-text{
          order: 2;
       }

       .footer{
        flex-direction: column;
        padding: 30px 0;
        align-items: center;
        gap: 30px;
    }

    .footer div{
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 834px){
    .main{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    .main_content1{
        padding: 0;
        margin: 0;
        gap: 30px;
    }
    .main_content2{
        padding: 0;
        margin: 0;
        gap: 30px;
    }
    .main_content3{
        padding: 0;
        margin: 0;
        gap: 30px;
    }

    .main_title{
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
    .main_image2-projet2{
        height: 70%;
    }
    .main_image3-projet3{
        height: 70%;
    }
    .main_content1-text{
        margin-top: 10px;
    }
    

    .footer{
        margin-bottom: 15px;
    }
}