*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

h2{
    font-weight: 700;
    font-size: 28px;
}
ul{
    font-weight: 400;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}
ul a{
    color: gray;
    text-decoration: none;
}

.nav-ul li:not(:last-child)::after{
    content: '|';
    color: gray;
    padding-left: 10px;
}
.content-image{
    display: flex;
    justify-content: space-between;
    

}
.photo-projet1{
    width: 520px;
    height: 400px;
}
.div-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    height: 306px;
}
.content-Hostim{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.photo-projet2{
    width: 520px;
    height: 400px;
    
}
.host-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    height: 306px;
}
.content-Interio{
    display: flex;
    justify-content: space-between;
}
.photo-projet3{
    width: 520px;
    height: 400px;
    
}
.Inter-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    height: 306px;
}
body img{
    margin-bottom: 50px;
}