*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    padding: 2% 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-weight: 700;
    font-size: 28px;
}
ul{
    font-weight: 400;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

ul a{
    color: gray;
    text-decoration: none;
}

li:not(:last-child)::after{
    content: '|';
    color: gray;
    padding-left: 10px;
}

main{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
.photo-profil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    
}
.div-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

h4{
    margin-bottom: -15px;
}
.div-text button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}
.div-text div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.btn-cv{
    background-color: #EEA302;
}

.btn-projets{
    background-color: #E13B25;
}
.btn-contact{
    background-color: #80D8DA;
}

.div-text p{
    font-size: 20px;
    font-weight: 400;
}

footer{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

span{
    color: gray;
    font-size: 10px;
}
.fab{
    color: black;
    font-size: 15px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -4px;
}