*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    padding: 5% 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-weight: 700;
    font-size: 28px;
}
ul{
    font-weight: 400;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

ul a{
    color: gray;
    text-decoration: none;
}

li:not(:last-child)::after{
    content: '|';
    color: gray;
    padding-left: 10px;
}