body{
    font-family: Inter;
    padding: 2% 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

h2{
    font-weight: 700;
    font-size: 28px;
}
.nav-ul {
    font-weight: 400;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

ul a{
    color: gray;
    text-decoration: none;
}

.nav-ul li:not(:last-child)::after{
    content: '|';
    color: gray;
    padding-left: 10px;
}
.php{
    display: flex;
}
.back-end{
    display: flex;
}
.font-end{
    display: flex;
}
.Diplome{
    display: flex;
}

body span{
    font-size: 12px;
    font-family: Inter;
    line-height: 35.5px;
    text-align: left;
}
footer{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

span{
    color: gray;
    font-size: 10px;
}
.fab{
    color: black;
    font-size: 15px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -4px;
}